@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/*font-family: "Roboto", sans-serif;*/

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.header {
  width: 100%;
  height: 69px;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EC362D;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
}

.header h1{
  font-size: 37px;
  font-weight: 700;
  color: #ffffff;

  cursor: pointer;
}

.main-container {
  margin-top: 69px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quizz-header {
  width: 1051px;
  height: 20px;
  margin-bottom: 5px;

  display: flex;
  align-items: center;
  margin-left: 5px;
  font: 20px;
  font-weight: 700;

}

.quizz-header ion-icon {
  margin-left: 15px;
  color: red;
  width: 30px;
  height: 30px;
}

.quizz-header ion-icon :hover {
  cursor: pointer;
}

.box-myquizzes {
  width: 1051px;
  margin-bottom: 77px;
  margin-top: 150px;

}

.my-quizzes {
  display: flex;
  justify-content: space-around;
  /*justify-content: flex-start;*/
  flex-wrap: wrap;
}

.box-quizzes {
  width: 1051px;
}

.quizzes {
  display: flex;
  flex-wrap: wrap;
  /*justify-content: flex-start;*/
  justify-content: space-around;

}

.quizz-card {
  width: 340px;
  height: 180px;
  margin-bottom: 12px;

  position: relative;
}

.overlay {
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5)54.68%, #000000 100%);
}

.quizz-card img {
  border-radius: 5px;
  width: 340px;
  height: 180px;
}

.quizz-card p {
  position: absolute;
  z-index: 1;
  color: #ffffff;
  position: absolute;
  bottom: 0px;
  padding: 0 15px;
}

.dashed-box {
  width: 1051px;
  height: 181px;
  background-color: #FAFAFA;
  border: 1px dashed #d5d5d5;
  border-radius: 5px;
  text-align: center;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.dashed-box p {
  font-size: 20px;
  font-weight: 400;
  color: #b9b9b9;
}

.addQuizz {
  width: 151px;
  height: 40px;
  border: 1px dashed #EC362D;
  border-radius: 20px;

  font-size: 20px;
  font-weight: 400;
  color: #EC362D;

  display: flex;
  justify-content: center;
  align-items: center;
}

.addQuizz:hover {
  cursor: pointer;
}

/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* XXXXXXXXXX    Página 2    XXXXXXXX */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

.questions-header {
  width: 100%;
  font-size: 39px;
  font-weight: 400;
  color: #FFFFFF;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;

}

.questions-header img {
  width: 100%;
  height: 227px;

  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.57), rgba(0, 0, 0, 0.57))
}

.questions-header p {
  position: absolute;
}

.questions {
  margin-top: 100px;
  width: 759px;
  height: auto;
  background: #FFFFFF;
  padding: 30px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.question-title {
  width: 100%;
  height: 138px;
  background: #434CA0;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 23px;
  color: #FFFFFF;
}

.box-questionImg {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  font-size: 20px;
  font-weight: 700;
  position: relative;

}

.question-item {
  width: 332px;
  margin-top: 30px;
  word-wrap: break-word;
}

.question-item img {
  width: 332px;
  height: 175px;
  margin-bottom: 10px;
}

.endQuizz {
  width: 759px;
  height: auto;
  padding: 15px;
  margin-top: 100px;
  margin-bottom: 60px;

  background-color: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

}

.endQuizz-header {
  background-color: #EC362D;
  width: 100%;
  height: 100px;
  margin-bottom: 20px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #FFFFFF;
  font-size: 23px;
  font-weight: 700;

  word-break: break-all;
}

.endQuizz-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.endQuizz-container img {
  width: 364px;
  height: 273px;
}

.endQuizz-container div {
  padding: 15px 15px;
  font-size: 19px;
  font-weight: 700;
}

.restartQuizz {
  width: 260px;
  height: 52px;
  border-radius: 15px;
  background-color: #EC362D;
  margin-bottom: 15px;

  font-size: 21px;
  color: #FFFFFF;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.home-endQuizz {
  font-size: 21px;
  font-weight: 400;
  color: #818181;

  margin-bottom: 100px;

  cursor: pointer;
}

/* CÓDIGO */

.rigth-answer {
  color: #009C22;
}

.wrong-answer {
  color: #FF4B4B
}

.hidden-answer {
  color: #000000;
}

/* BREAK-POINT */


@media (max-width: 1100px) {

  /* page 1 */

  .main-container{
    padding: 0 15px;
  }

  .box-myquizzes {
    width: 100%;
  }

  .quizz-card{
    width: 100%;
  }
  .quizz-card img {
    width: 100%;
    height: 180px;
  }

  .box-quizzes {
    width: 100%;
  }

  .quizz-header {
    width: 100%;
  }


  .dashed-box {
    width: 100%;
  }



  /* Page 2 */

  .questions-header img {
    width: 100%;
  }

  .questions {
    width: 100%;
  }

  .question-title {
    width: 100%;
    height: 89px;
  }

  .question-item {
    width: 50%;
    margin-top: 20px;
  }

  .question-item img {
    width:100%;
    height: 200px;
  }
  
  .box-questionImg{
    justify-content: space-between;
  }

  .endQuizz {
    width: 100%;
    height: auto;
    padding: 15px;
    margin-top: 100px;
    margin-bottom: 60px;
    text-align: center;

    background-color: #FFFFFF;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .endQuizz-header {
    width: 100%;
    height: 100px;
    margin-bottom: 20px;

    font-size: 23px;
    font-weight: 700;
  }

  .endQuizz-container {
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .endQuizz-container img {
    width: 49%;
    height: auto;
    margin-bottom: 20px;
  }

  .endQuizz-container div {
    width: 49%;
    height: auto;

    padding: 15px 15px;
    font-size: 19px;
  }

  .restartQuizz {
    margin-top: 50px;
    margin-bottom: 15px;
  }

  .home-endQuizz {
    width: 260px;
    font-size: 21px;
    font-weight: 400;
    color: #818181;

    margin-bottom: 100px;
  }

}

/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* XXXXXXXXXXXXXXXXXXX         SCRIPT 3         XXXXXXXXXXXXXXXXXXXXXXXX */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */



.quizzCreation1 {
  background-color: #E5E5E5;
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
}

h6 {
  font-family: 'Roboto', sans-serif;
  font-size: 23px;
  font-weight: 700;
  line-height: 27px;
  color: #000000;

  margin-top: 61px;
}

.basicInformations {
  width: 600px;
  height: 256px;
  box-sizing: border-box;
  padding: 21px 0;
  background-color: #FFFFFF;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  margin-top: 27px;
}

.basicInformations input {
  width: 564px;
  height: 46px;
  box-sizing: border-box;
  padding-left: 23px;

  border: 1px solid #D1D1D1;
  border-radius: 5px;
}

.basicInformations ::placeholder {
  font-family: 'Roboto', sans-serif;
  font-size: 19px;
  font-weight: 400;
  font-style: italic;
  line-height: 22px;
  color: #BABABA;
}

.quizzCreation1 button {
  background-color: #EC362D;
  width: 368px;
  height: 54px;
  border: none;
  border-radius: 15px;

  margin-top: 60px;
  margin-bottom: 60px;

  font-family: 'Roboto', sans-serif;
  font-size: 21px;
  font-weight: 400;
  line-height: 24px;
  color: #FFF5F4;
}

.quizzCreation2 {
  background-color: #E5E5E5;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.questionAll {
  width: 600px;
  height: 825px;
  background-color: #FFFFFF;

  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding-left: 16px;

  margin-top: 36px;
}

.questionAll p {
  margin-top: 27px;

  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 23px;
  color: #000000;
}

.questionAll input {
  margin-top: 12px;

  width: 564px;
  height: 46px;
  box-sizing: border-box;
  padding-left: 23px;

  border: 1px solid #D1D1D1;
  border-radius: 5px;
}

.questionAll ::placeholder {
  font-family: 'Roboto', sans-serif;
  font-size: 19px;
  font-weight: 400;
  font-style: italic;
  line-height: 22px;
  color: #BABABA;
}

.questionAll .imgWrong1, .questionAll .imgWrong2, .questionAll .imgWrong2 {
  margin-bottom: 32px;
}

.miniQuestion {
  margin-top: 24px;

  width: 601px;
  height: 74px;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);

  display: flex;
  align-items: center;
}

.miniQuestion p {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 23px;
  color: #000000;

  margin-left: 17px;
}

.miniQuestion ion-icon {
  margin-left: 439px;
  font-size: 26px;
}

.miniQuestion ion-icon:hover{
  cursor: pointer;
}

.quizzCreation3 {
  background-color: #E5E5E5;
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.levelAll {
  width: 600px;
  height: 316px;
  background-color: #FFFFFF;

  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding-left: 16px;

  margin-top: 36px;
}

.levelAll p {
  margin-top: 27px;

  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 23px;
  color: #000000;
}

.levelAll input {
  margin-top: 12px;

  width: 564px;
  height: 46px;
  box-sizing: border-box;
  padding-left: 23px;

  border: 1px solid #D1D1D1;
  border-radius: 5px;
}

.levelAll ::placeholder {
  font-family: 'Roboto', sans-serif;
  font-size: 19px;
  font-weight: 400;
  font-style: italic;
  line-height: 22px;
  color: #BABABA;
}

.miniLevel {
  margin-top: 24px;

  width: 601px;
  height: 74px;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);

  display: flex;
  align-items: center;
}

.miniLevel p {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 23px;
  color: #000000;

  margin-left: 17px;
}

.miniLevel ion-icon {
  margin-left: 483px;
  font-size: 26px;
}

.miniLevel ion-icon:hover {
  cursor: pointer;
}

.hidden {
  display: none
}

.quizzCreation4 {
  background-color: #E5E5E5;
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.imgWrapper {
  margin-top: 46px;
  position: relative;
  width: 500px;
  height: 266px;
}

.quizzCreation4 img {
  width: 100%;
  height: 100%;
}

.quizzCreation4 .gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 54.68%, #000000 100%);
}

.quizzCreation4 p {
  font-family: 'Roboto', sans-serif;
  font-size: 23px;
  font-weight: 400;
  line-height: 27px;
  color: #FFFFFF;

  position: absolute;
  bottom: 15px;
  left: 23px;
}

.quizzCreation4 button {
  background-color: #EC362D;
  width: 368px;
  height: 54px;
  border: none;
  border-radius: 15px;

  font-family: 'Roboto', sans-serif;
  font-size: 21px;
  font-weight: 400;
  line-height: 24px;
  color: #FFF5F4;

  margin-top: 45px;
  margin-bottom: 0px;
}

.quizzCreation4 button:hover {
  cursor: pointer;
}

.quizzCreation4 .homeButton {
  margin-top: 9px;
  background-color: #E5E5E5;
  color: #818181;
}

@media (max-width: 1100px) {


  .quizzCreation1, .quizzCreation4 {
    height: 100%;
  }

  .basicInformations, .questionAll, .miniQuestion, .levelAll, .miniLevel {
    width: 90vw;
  }

  .basicInformations input, .questionAll input, .levelAll input {
    width: 95%
  }

  .miniQuestion ion-icon, .miniLevel ion-icon {
    margin-left: 55%;
  }

  .imgWrapper {
    max-width: 500px;
    width: 90%;
  }

}